<div class="collectionBanner-title">
        <h1>our fabion shopping collection</h1>
        <a href="/">
        <button type="button" class="btn btn-outline" id="four">our fashion</button>
      </a>
      </div>