


<footer>
        <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="footer-items">
                <h1>our newsletter</h1>
                <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime iusto
                    itaque corrupti enim, corporis quae dolor rem temporibus esse eius!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="footer-items">
                <h1>products</h1>
                <li><a href="">category</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">home</a></li>
                <li><a href="">news</a></li>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-items">
                <h1>our address</h1>
                <h4>Email: &nbsp; fabion@gmail.com</h4>
                <h4>Phone: &nbsp; 0045 22334455</h4>
                <h4>address: &nbsp; 4000 roskilde</h4>
            </div>
        </div>
    </div>
</div>
</footer>
