  
 
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <a class="navbar-brand" href="#">
          <img src="http://demo.ishithemes.com/opencart/OPC023/image/catalog/Logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
          <span class="fas fa-align-right"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item <%= (typeof pageLink != 'undefined' && pageLink == 'home' ? 'active' : '') %> ">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= (typeof pageLink != 'undefined' && pageLink == 'collection' ? 'active' : '') %>">
              <a class="nav-link" href="/collection">collection</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">3</a>
              </div>
            </li>
            <li class="nav-item <%= (typeof pageLink != 'undefined' && pageLink == 'singleProduct' ? 'active' : '') %>">
                <a class="nav-link" href="/singleProduct">single products</a>
              </li>
            <li class="nav-item <%= (typeof pageLink != 'undefined' && pageLink == 'contact' ? 'active' : '') %>">
              <a class="nav-link" href="/contact">contact</a>
            </li>
          </ul>
          
        </div>
      </nav>