<main class="products_grid_main">
    <div class="sidenav">
        <h2 class="sidenav_h2">Choose Category</h2>
        <ul class="sidenav_ul">
            <li class="sidenav_li">Category</li>
            <li class="sidenav_li">Category</li>
            <li class="sidenav_li">Category</li>
            <li class="sidenav_li">Category</li>
            <li class="sidenav_li">Category</li>
            <li class="sidenav_li">Category</li>
        </ul>
    </div>
    <div class="card_container">
    <div class="product_card">
        <img src="../team-collab-Pofoda/public/img/jacketblue.jpg" alt="" class="product_card_img">
        <p class="product_name">name</p>
        <p class="product_price">price</p>
        <p class="product_size">size</p>
    </div>
    <div class="product_card">
        <img src="../team-collab-Pofoda/public/img/jacketblue.jpg" alt="" class="product_card_img">
        <p class="product_name">name</p>
        <p class="product_price">price</p>
        <p class="product_size">size</p>
    </div>
    <div class="product_card">
        <img src="../team-collab-Pofoda/public/img/jacketblue.jpg" alt="" class="product_card_img">
        <p class="product_name">name</p>
        <p class="product_price">price</p>
        <p class="product_size">size</p>
    </div>
    <div class="product_card">
        <img src="../team-collab-Pofoda/public/img/jacketblue.jpg" alt="" class="product_card_img">
        <p class="product_name">name</p>
        <p class="product_price">price</p>
        <p class="product_size">size</p>
    </div>
    </div>
</main>