<div id="wrapper">
    <main>
        <div class="sp__main__Container">
            <div class="sp__pic__container">
                <!-- billed-->
                <img src="/img/hoodieyellow.jpg" alt="">
            </div>

            <div class="sp__productinfo__container">
                <h3>Name</h3>
                <h4>Price</h4>
                <select>
                    <option value="">Color options</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                </select>
                <form action="">
                    <select>
                        <option value="" selected data-default>choose Size</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                    </select> <br>
                    <button>Add to cart</button>
                </form>
            </div>
        </div>
        <p>Beskrivelse</p>

            <div>
                <!-- realaterede (shop-cards)-->
            </div>
    </main>
</div>