<div id="wrapper">
        <main class="sp__main__Container">
            <div class="sp__pic__container"> <!-- billed-->
                <img src="" alt="">
            </div>
            <div class="sp__productinfo_container">
                <h3>Name</h3>
                <h4>Price</h4>
                <div class="sp__color__container"> <!-- farver? -->
                    <div>b</div>
                    <div>r</div>
                    <div>g</div>
                    <div>y</div>
                </div>
                <form action="">
                    <select>
                        <option value="">Size</option>
                    </select>
                    <button>Add to cart</button>
                </form>
                <p>Beskrivelse</p>
                <div>
                    <!-- realaterede (shop-cards)-->
                </div>
            </div>
        </main>
    </div>