<form action="#" method="POST" id="subscribe-form">

    <input type="text" name="subscribe" placeholder="Subscribe Here" id="subscribeEmail">
    <button type="submit" class="btn btn-outline" id="subscribeSubmit">subscribe</button>
</form>