body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 80%;
    margin: auto;
}

.box-shadow{
    box-shadow: 0px 0px 12px 0px #bdc3c7 !important;
}
.banner{
    position: relative;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
     url('https://images.pexels.com/photos/1345082/pexels-photo-1345082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    width: 100%;
    background-position:top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
   
}
.banner-title h1{
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(174,130,63);
    letter-spacing: 1px;
    font-size: 45px;
}


/*banner button*/
#four{
    position: relative;
    transition-duration: 0.4s;
    width: 170px !important;
    border: 2px solid #ffffff;
    padding: 14px !important;
    font-weight: 600;
    font-size: 18px !important;
    color: #ffffff !important;
    margin-top: 30px !important;
    text-transform: uppercase !important;
    letter-spacing: 1px;

}
#four::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-image: linear-gradient(to right bottom, #fa6800, #d9680b, #ba6617, #9d6122, #825a2c);
    top: 0;
    right: 0;
    transition: 0.4s;
    z-index: -1;
}
#four::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-image: linear-gradient(to right bottom, #fa6800, #d9680b, #ba6617, #9d6122, #825a2c);
    bottom: 0;
    left: 0;
    transition: 0.4s;
    z-index: -1;
}
#four:hover{
    color: white;
}
#four:hover::after,
#four:hover::before{
    width: 100%;
    height: 100%;
}

.fa-align-right{
    color: rgba(174,130,63) !important;
    font-size: 31px !important;
}
.navbar-toggler{
    border: 1px solid rgba(174,130,63) !important;
}
.navbar{
    position: fixed !important;
    width: 100% !important;
    left: 0%;
    right: 0%;
    transition: .4s;
    background: transparent !important;
    top: 0;
    z-index: 10 !important;
    margin: auto;
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(55deg, #f71f07, #f7e603);
    border-image-slice: 1;
}
.change{
    color: #ffff !important;
    background: #222222 !important;
}
.change,.nav-link{
    color: #ffff !important;
    
}

.nav-link{
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-item.active .nav-link{
    color: rgba(174,130,63)!important;
    text-transform: uppercase !important;
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(55deg, #f71f07, #f7e603);
    border-image-slice: 1;
    
    /* background: #34495e !important; */
}
.navbar-brand img{
    width: 180px;
    height: 50px;
}

/*style category-1 in home page*/
.category-1{
    overflow: hidden !important;
    width: 100% !important;
    background: rgba(174,130,63);
    height: 90% !important;
    
}
.category-1 img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    max-height: 100%!important;
    max-width: 100% !important;
     position: relative !important;
    transform: scale(1.08);
    opacity: 0.4;
    transition: 0.75s !important;
     width: 100% !important;
     height: 100% !important;
}
.category-1 img:hover{
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
}

.category-1-link{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(174,130,63);
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    
}
.category-1-link a{
    color: #ffffff !important;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none !important;
}

@media (min-width:360px) and (max-width:400px){
    .navbar{
        background-color: rgb(236, 17, 17) !important;
        width: 100% !important;
        left: 0;
        right: 0;
    }
    .banner{
        height: 80vh;
    }
}

@media (min-width:414px) and (max-width:670px){
    .navbar{
        background-color: rgb(230, 222, 222) !important;
        width: 100% !important;
        left: 0;
        right: 0;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:451px) and (max-width:540px){
    .navbar{
        background: yellow !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:600px) and (max-width:768px){
    .navbar{
        background: blue !important;
        width: 100% !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .navbar{
        background: rgb(14, 13, 13) !important;
        width: 100% !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:1025px) and (max-width:1200px){
    .navbar{
        background: pink !important;
    }
}


@media(min-width:834px)and (max-width:1112px){
  .navbar{
      background: #2c3e50 !important;
      left: 0;
      right: 0;
      width: 100% !important;
  }
  .nav-item.active .nav-link{
    border: none !important;
}

}
@media(min-width:1024px)and (max-width:1336px){
    .navbar{
        background: #2c3e50 !important;
        left: 0;
        right: 0;
        width: 100% !important;
    }
  
  }


  /* Single product page (sp__) */
.sp__main__Container {
    display: flex;
}

.sp__pic__container{
    width: 657px;
    height: 987px;
}
.sp__productinfo__container{
    margin-left: 20px;
}
.sp__color__container {
    display: flex;
}
  .product_card{
    text-align: center;
    width: 290px;
    margin: .5em;
    /* display: inline- block; */
}
.product_card_img{
    width: 280px;
}
.product_name, .product_price, .product_size{
    text-align: center;
    margin: .4em;
}
.sidenav{
    height: 100%;
    width: 100%;
}
.sidenav_h2{
    font-size: 1.3em; 
    text-align: center;
}
.sidenav_li{
    list-style: none;
}
.products_grid_main{
    display: grid;
    grid-template-columns: 15% 85%;
}

.card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4em;
    /* grid-gap: 1em; */
    /* padding: 1em; */
}
