body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.box-shadow{
    box-shadow: 0px 0px 12px 0px #bdc3c7 !important;
}
.banner{
    position: relative;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
     url('https://images.pexels.com/photos/1345082/pexels-photo-1345082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    width: 100%;
    background-position:top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
   
}
.banner-title h1{
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(174,130,63);
    letter-spacing: 1px;
    font-size: 45px;
}


/*banner button*/
#four{
    position: relative;
    transition-duration: 0.4s;
    width: 170px !important;
    border: 2px solid #ffffff;
    padding: 14px !important;
    font-weight: 600;
    font-size: 18px !important;
    color: #ffffff !important;
    margin-top: 30px !important;
    text-transform: uppercase !important;
    letter-spacing: 1px;

}
#four::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-image: linear-gradient(to right bottom, #fa6800, #d9680b, #ba6617, #9d6122, #825a2c);
    top: 0;
    right: 0;
    transition: 0.4s;
    z-index: -1;
}
#four::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-image: linear-gradient(to right bottom, #fa6800, #d9680b, #ba6617, #9d6122, #825a2c);
    bottom: 0;
    left: 0;
    transition: 0.4s;
    z-index: -1;
}
#four:hover{
    color: white;
}
#four:hover::after,
#four:hover::before{
    width: 100%;
    height: 100%;
}

.fa-align-right{
    color: rgba(174,130,63) !important;
    font-size: 31px !important;
}
.navbar-toggler{
    border: 1px solid rgba(174,130,63) !important;
}
.navbar{
    position: fixed !important;
    width: 100% !important;
    left: 0%;
    right: 0%;
    transition: .4s;
    background: #222222!important;
    top: 0;
    z-index: 10 !important;
    margin: auto;
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(55deg, #f71f07, #f7e603);
    border-image-slice: 1;
    box-shadow: 0px -4px 12px 0px #bdc3c7 !important;
}
.change{
    color: #ffff !important;
    background: #222222 !important;
}
.change,.nav-link{
    color: #ffff !important;
    
}

.nav-link{
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
   
}
.nav-item.active .nav-link{
    color: rgba(174,130,63)!important;
    text-transform: uppercase !important;
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(55deg, #f71f07, #f7e603);
    border-image-slice: 1;
    
    /* background: #34495e !important; */
}
.navbar-brand img{
    width: 180px;
    height: 50px;
}

/*style category-1 in home page*/
.category-title{
    background: #9d6122 !important;
    height: 15vh;
    padding: 10px;
}
.category-title h1{
    color: #ffff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 35px;
    text-transform: uppercase;
}
.category-title p{
    border-left: 4px solid white;
    padding: 10px;
    margin-left: 20px;
   color: white;
}
#category{
    background: #bdc3c7 !important;
    height: 100%;
    width: 100%;
}
.category-1{
    overflow: hidden !important;
    width: 100% !important;
    background: #000;
    height: 90% !important;
    box-shadow: 0px 0px 12px 0px #bdc3c7 !important;
}
.category-1 img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    max-height: 100%!important;
    max-width: 100% !important;
     position: relative !important;
    transform: scale(1.08);
    opacity: 0.4;
    transition: 0.75s !important;
     width: 100% !important;
     height: 100% !important;
}
.category-1 img:hover{
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
}

.category-1-link{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(174,130,63);
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    
}
.category-1-link a{
    color: #ffffff !important;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none !important;
}



/*style my subscribe form*/
#subscribe{
    background: #9d6122;
    padding: 20px;
   
}
#subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #080808 !important;
    width: 700px;
    margin: auto;
    border-radius: 25px;
}
#subscribeEmail{
    width: 600px !important;
    padding: 10px !important;
    border-radius: 25px;
    border: 2px solid white;
    outline: none !important;

}
#subscribeSubmit{
    width: 150px;
    border: 2px soild white;
    background: #222222 !important;
    padding: 10px !important;
    margin-left: -40px !important;
    border-radius: 25px;
   color: white;
   outline: none !important;
   text-transform: uppercase;
   letter-spacing: 1px;
}


/*style footer*/
footer{
    background: #222222;
    height: 40vh;
    color: #9d6122;
}
.footer-items h1{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.footer-text{
    border-left: 4px solid #ba6617;
    padding-left: 6px;
    text-align: justify;
    word-break: break-all;
    margin-top: 20px;
    font-size: 17px !important;
}
.footer-items h4{
    margin-top: 20px;
    font-size: 17px !important;
    text-align: center;
}
.footer-items{
    list-style: none;
}
.footer-items li{
    text-align: center;
    
}
.footer-items li a{
    text-decoration: none;
    color: #ba6617;
    font-size: 17px;
    letter-spacing: 1px;
}
@media (min-width:360px) and (max-width:400px){
    .navbar{
        background-color: rgb(236, 17, 17) !important;
        width: 100% !important;
        left: 0;
        right: 0;
    }
    .banner{
        height: 80vh;
    }
}

@media (min-width:414px) and (max-width:670px){
    .navbar{
        background-color: rgb(230, 222, 222) !important;
        width: 100% !important;
        left: 0;
        right: 0;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:451px) and (max-width:540px){
    .navbar{
        background: yellow !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:600px) and (max-width:768px){
    .navbar{
        background: blue !important;
        width: 100% !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .navbar{
        background: rgb(14, 13, 13) !important;
        width: 100% !important;
    }
    .nav-item.active .nav-link{
        border: none !important;
    }
}

@media (min-width:1025px) and (max-width:1200px){
    .navbar{
        background: pink !important;
    }
}


@media(min-width:834px)and (max-width:1112px){
  .navbar{
      background: #2c3e50 !important;
      left: 0;
      right: 0;
      width: 100% !important;
  }
  .nav-item.active .nav-link{
    border: none !important;
}

}
@media(min-width:1024px)and (max-width:1336px){
    .navbar{
        background: #2c3e50 !important;
        left: 0;
        right: 0;
        width: 100% !important;
    }
  
  }
  