<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <%- include('partials/styles.ejs') %>
   
</head>
<body>
    
    <%- include('partials/navbar.ejs') %>
  
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus excepturi voluptas, reprehenderit libero iusto dolore amet suscipit repellendus unde sequi error ipsam earum corrupti soluta atque commodi nam, doloribus impedit magnam? Commodi nulla voluptas doloribus recusandae fuga. Doloremque totam ab quae inventore quos adipisci, accusantium, quas laboriosam numquam nesciunt, debitis quidem? Ea commodi sunt molestiae explicabo quo. Sint minima, dolor itaque excepturi optio reiciendis expedita illum vero distinctio in exercitationem eius animi dolores voluptas eaque quis laborum alias modi vitae veritatis delectus a perspiciatis. Amet expedita veritatis qui praesentium corrupti suscipit itaque omnis nemo natus excepturi, tempora ad nihil eius voluptate repellendus aspernatur numquam minima sapiente similique esse. Impedit aut, necessitatibus optio, dignissimos culpa saepe eius dolores officia ex numquam nesciunt exercitationem neque at veritatis laboriosam architecto facilis eaque, ipsa omnis odio asperiores ea! Blanditiis perspiciatis iste quibusdam hic, totam temporibus aliquid ad est ipsam tempore nihil atque id porro quidem explicabo officiis ipsa autem voluptatum, ducimus quas facere soluta? Excepturi facilis corrupti quaerat cupiditate deserunt quod dolor sequi minus aspernatur est dolores illo tempora, numquam odit doloremque omnis ipsum sed dolorum illum incidunt? Numquam recusandae dolore architecto. Voluptate quod doloremque facere voluptatem perferendis vitae corporis voluptates dolore vel atque? Magnam amet eum quam esse ad sunt error qui temporibus numquam maxime cumque, dolorum deserunt? Ad aperiam, corrupti dolores facilis similique nulla ipsam voluptatem cupiditate minima a ratione harum, debitis totam fuga nemo atque nisi ipsa ut ex blanditiis, nesciunt delectus hic optio. Quae, magni! Fugiat, recusandae. Iure odit labore placeat deleniti qui quasi esse, perspiciatis excepturi et nesciunt pariatur iste cupiditate quis, amet atque temporibus nostrum quibusdam? Ea commodi nulla nemo rerum cum ex, vitae delectus placeat tempore! Similique, in rem beatae consequatur blanditiis fugit hic deserunt, quo nesciunt debitis nostrum dignissimos eveniet iure officiis qui, quas enim voluptate ex? Necessitatibus reprehenderit ad dolore, repudiandae ipsa officia veritatis, id dolores a, commodi facilis ducimus et cupiditate magni dolorem facere voluptatibus veniam sed quam laudantium temporibus nobis sapiente vitae modi. Quisquam, ad voluptatum doloribus soluta mollitia quaerat consequatur delectus cumque reiciendis neque placeat eaque deserunt velit, laboriosam voluptate nisi iure perferendis quasi? Qui consectetur labore incidunt aliquam suscipit rerum eos corporis ipsum sapiente eius assumenda, est doloribus maiores, eveniet dolor, natus voluptatibus voluptas ab rem ad perspiciatis. Neque reprehenderit unde ducimus aperiam nemo iste aspernatur praesentium aliquid temporibus officia nisi exercitationem animi suscipit, dolor quod magni dicta doloribus consectetur soluta amet laboriosam architecto eligendi voluptatem eum. Laborum quo provident ducimus fuga accusantium, ratione assumenda quae. Totam labore rem et, ab nemo laboriosam libero odio dolor, necessitatibus non consequuntur dolorum natus tenetur incidunt! Aliquam, autem debitis aspernatur error neque laborum voluptatum architecto culpa eligendi saepe deserunt non voluptas placeat sequi nesciunt labore reprehenderit inventore recusandae vitae, porro vero enim blanditiis maxime nemo. Tenetur, ab. Necessitatibus corporis nostrum neque deleniti iusto rem consequatur eaque. Dignissimos, nostrum expedita labore inventore perferendis quidem consequatur molestias hic vel odit voluptatum dicta esse, eaque maxime sit et eligendi. Iusto, molestias nam tempore unde quis sunt?</h1>

    <%- include('partials/js.ejs') %>
</body>
</html>
